<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
    </head>
    <body> 
        <%- include layout %>
        <div class="container">
            <h1>Welcome to My blog</h1>
            <a href="/">back home</a>
            <a href="/blog/add">add</a>
        </div>
    </body>
</html>