<!DOCTYPE html>
<html>
  <head>
    <title>เราเที่ยวคนเดียว.com</title>
  </head>
  <body>
    <%- include layout %>
    <div class="container">
      <br>
      <h1>ใส่ชื่อจังหวัดที่ต้องการค้นหาโรงแรม</h1>
      <form class="" action="/search" method="post">
        <div class="form-group">
            <input type="text" name="name" value="" class="form-control">
        </div><br>
        <input type="submit" name="" value="หาโรงแรมที่ดีที่สุด" class="btn" style="background-color: aquamarine;"> 
    </form>
    </div>
  </body>
</html>
