<!DOCTYPE html>
<html>
  <head>
    <title>JustTryWebCache</title>
  </head>
  <body>
    <%- include layout %>
    <div class="container">
      <h1>Try Search Movies Name</h1>
      <form class="" action="/search" method="post">
        <div class="form-group">
            <input type="text" name="name" value="" class="form-control">
        </div><br>
        <input type="submit" name="" value="Search" class="btn" style="background-color: aquamarine;"> 
    </form>
    </div>
  </body>
</html>
