<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script type="text/javascript">

  // Original JavaScript code by Chirp Internet: chirpinternet.eu
  // Please acknowledge use of this code by including this header.

  function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i <ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

</script>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: aquamarine;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">เราเที่ยวคนเดียว.com</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" >List</a>
          </li>

          <div id="login" class="headerNmae collapse navbar-collapse">
            <li class="nav-item">
              <a class="nav-link" href="/Oauth/login" >Sign in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Oauth/register" >Sing up</a>
            </li>
          </div>                 

          <script>
            // If can't access any cookie from javascript
            // https://stackoverflow.com/questions/17508027/cant-access-cookies-from-document-cookie-in-js-but-browser-shows-cookies-exist
            var username = getCookie("username");

            Inner_Html = "";

            if (username != "") {
              Inner_Html +=  '<li class="nav-item">';
              Inner_Html +=  `<a class=\"nav-link\" href=\"/hotel/${username}/List_booking\" >Name : ${username}</a>`;
              Inner_Html +=  "</li>";
              Inner_Html +=  "<li class=\"nav-item\">";
              Inner_Html +=   `<a class="nav-link" href=\"/Oauth/logout\">Logout</a>`;
              Inner_Html +=  "</li>";

              console.log(Inner_Html);
              document.getElementById("login").innerHTML = Inner_Html;
              
            }
          </script>
          
        </ul>
      </div>
    </div>
  </nav>