<!DOCTYPE html>
<html>
  <head>
    <title>เราเที่ยวคนเดียว.com</title>
  </head>
  <body>
    <%- include layout %>
    <div id="booking_list_each_person">

    </div>

    <script>
      let innerhtml = "";

      innerhtml += `<div class=\"container\"">
                      <div class="row">`;

      innerhtml +=  ` <div class="row">
                          <div class="col-12">
                            <div class="row">
                              Hotel ID : <%=booked.bookingdata.hotel_id%>
                            </div>
                            <div class="row">
                              check in date : <%=booked.bookingdata.check_in_date%>
                            </div>
                            <div class="row">
                              check out date : <%=booked.bookingdata.check_out_date%>
                            </div>
                          </div>
                        </div>`;
                        
      innerhtml +=  ` </div>
                    </div>`;

      document.getElementById('booking_list_each_person').innerHTML = innerhtml;
    </script>

  </body>
</html>
