<!DOCTYPE html>
<html>
  <head>
    <title>เราเที่ยวคนเดียว.com</title>
  </head>
  <body>
    <%- include layout %>
    <div class="container">
      <br>
      <h1>ล็อกอิน</h1>
      <form class="" action="/search" method="post">
        <div class="form-group">
            username :
            <input type="text" name="username" value="" class="form-control">
            <br/>
            password :
            <input type="text" name="password" value="" class="form-control">
        </div><br>
        <input type="submit" name="" value="เข้าใช้งาน" class="btn" style="background-color: aquamarine;">
    </form>
    </div>
  </body>
</html>